.card {
  padding: 20px 0;
  width: 100%;

  background: #222222;
  border: 1px solid #292929;
  border-radius: 10px;

  &__title {
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
  }
}

.form {
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    width: 35%;

    &Title {
      padding-top: 10px;
      padding-left: 7px;

      font-size: 20px;
      color: rgba(white, 0.8);
    }
  }

  &__input {
    margin-top: 10px;

    width: 100%;

    padding: 7px;
    border-radius: 10px;
    border: 1px solid #292929;

    font-size: 20px;
  }

  &__error {
    padding-top: 10px;

    color: rgba(#0077ff, 0.8);
    font-size: 16px;
    text-align: center;
  }

  &__submit {
    padding-top: 20px;
  }
}
